<div class="bannersav text-center text-light">
</div>


  {{#each salvos}}
    <div class="card" style="width: 18rem;">
      <p>usuario - {{usuario.nome}}</p>
      <div class="card-body">
        <img src="{{imagem}}" />
        <h5 class="card-title text-center titulo">Titulo - {{titulo}} </h5>
        <div class="">
          <p class="card-text">Temporada - {{temporada}}</p>
          <p class="card-text">Episódio - {{episodio}} </p>
        </div>

        <div class="edits">
          <a href="/salvo/salvos/edit/{{_id}}"><button
              class="btn btn-outline-success"
              type="submit"
            >Editar</button>
          </a>
          <form action="/salvo/salvos/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}" />
            <button
              class="btn btn-outline-danger"
              type="submit"
            >Excluir</button>
          </form>
        </div>
      </div>
    </div>

  {{else}}
    <p class="alinhabtn">Nenhum item salvo</p>
  {{/each}}

  <div class="alinhabtn">
  <button type="button" class="btn btnadd">
    <a href="/salvo/adicionar">adicionar novo</a></button>
</div>

